/* Table of Contents

* Defaults
* Wrappers
* Styles
* Header
* Main
* Search Form
* Content
* Article
* Posts
* Projects
* Team
* Pagination
* Page Navigation
* Social
* Comments
* Respond
* Secondary
* Footer Widgets
* Footer
* Shortcodes
* Sliders
* Contact Form 7
* MediaElement Player

*/




/* Defaults
------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
	font-weight: bold;
}
p, li, a, label, span, div {
	color: #666;
	font-weight: normal;
}
a:hover {
	color: #0099FF;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	color: #666;
	background: none;
	border-color: #666;
	font-weight: normal;
}
input:focus,
input[type="text"]:focus,
textarea:focus {
	border-color: #0099FF;
	border-color: rgba(33, 153, 251, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(33, 153, 251, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(33, 153, 251, 0.4);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(33, 153, 251, 0.4);
}
input[type="submit"] {
	background-image: url(white/bg-submit.png);
}
input[type="submit"]:hover {
	color: #0099FF;
}
::selection,
::-moz-selection {
	background: #06BAFF;
}

/* Wrappers
------------------------------------------------------------ */

body {
	background: #333;
}

/* Styles
------------------------------------------------------------ */

.sub-heading {
	color: #333;
	font-weight: normal;
}
.image-border {
	border-color: #CCC;
}
a.digilink,
.digilink a,
a.digilink-alt,
.digilink-alt a {
	color: #333;
	background-image: url(white/graphic-plus.png);
}
a.digilink:hover,
.digilink a:hover,
a.digilink-alt:hover,
.digilink-alt a:hover {
	color: #0099FF;
}
a.digibutton,
.digibutton a,
span.digibutton,
a.digibutton-arrow,
.digibutton-arrow a  {
	border-color: #666;
}
a.digibutton,
.digibutton a,
span.digibutton {
	background: #404040 url(white/bg-button.png) repeat-x left;
}
a.digibutton-arrow,
.digibutton-arrow a {
	background-image: url(white/bg-submit.png); 
}
a.digibutton-flat-arrow,
.digibutton-flat-arrow a,
span.digibutton-flat-arrow {
	background-image: url(white/arrow.png);
}
a.digibutton:hover,
.digibutton a:hover,
a.digibutton-arrow:hover,
.digibutton-arrow a:hover,
a.digibutton-flat:hover,
.digibutton-flat a:hover,
a.digibutton-flat-arrow:hover,
.digibutton-flat-arrow a:hover {	
	color: #0099FF;
}

/* Header
------------------------------------------------------------ */

#siteHeader {
	background: #FFF url(white/bg-diagonal.png) repeat-x left top;
}
.main-menu-container > ul > li {
	border-color: #CCC;
}
.main-menu-container li,
.main-menu-container a {
	color: #999;
	font-weight: normal;
}
.main-menu-container > ul > li > a:hover {
	color: #0099FF;
}
.main-menu-container > ul > li.current-menu-item > a,
.main-menu-container > ul > li.current_page_item > a {
	color: #0099FF;
}
.main-menu-container > ul > li > ul > li > a:hover {
	background: #0099FF;
}
.main-menu-container > ul > li > ul > li.current-menu-item > a,
.main-menu-container > ul > li > ul > li.current_page_item > a {
	background: #0099FF;
}
.main-menu-container li li {
	border-color: #FFF;
}
.main-menu-container li li > a {
	color: #333;
	background: #CCC;
}
.main-menu-container li li > a:hover {
	background: #0099FF;
}
.main-menu-container li li.current-menu-item > a,
.main-menu-container li li.current_page_item > a {
	background: #0099FF;
}

/* Main
------------------------------------------------------------ */

#main {
	background: #FFF url(white/bg-main.png) repeat-x left top;
}
#main > .wrapper {
	background-image: url(white/bg-main-bottom.png);
}

/* Search Form
------------------------------------------------------------ */

.search-form .submit-wrapper {
	background-image: url(white/btn-search.png);
}
.search-form .submit {
	background-image: url(white/btn-search-hover.png);
}

/* Content
------------------------------------------------------------ */

.page-title,
.page-title a,
.page-title span {
	color: #333;
	font-weight: normal;
}

/* Article
------------------------------------------------------------ */

article a {
	color: #333;
}
.entry-title {
	color: #0099FF;
}
article.post .entry-title a:hover,
article.team .entry-title a:hover {
	color: #0099FF;
}
.entry-utility,
.entry-utility a {
	color: #999;
}
.entry-utility-prep {
	color: #0099FF;
}
.entry-utility a:hover,
.entry-utility a:hover .entry-utility-prep {
	color: #0099FF;
}
.featured-image,
.wp-post-image {
	border-color: #CCCCCC;
}
article.post .entry-title,
article.post .entry-title a,
.single-team article .entry-title,
.single-team article .entry-title a,
.single-project article .entry-title,
.single-project article .entry-title a {
	color: #333;
}

/* Posts
------------------------------------------------------------ */

article.maven-post_block .entry-date {
	color: #0099FF;
}
article.maven-post_block .entry-date {
	background-image: url(white/bg-post-date.png);
	color: #0099FF;
}

/* Projects
------------------------------------------------------------ */

.page-template-pgtemp_portfolio-php article,
article.maven-project_block {
	background: #CCC;
}
.page-template-pgtemp_portfolio-php article .entry-title,
.page-template-pgtemp_portfolio-php article .entry-title a,
article.maven-project_block .entry-title,
article.maven-project_block .entry-title a {
	color: #333;
}
.page-template-pgtemp_portfolio-php article .entry-title,
article.maven-project_block .entry-title {
	background-image: url(white/graphic-plus-large.png);
}
.page-template-pgtemp_portfolio-php article .entry-title a:hover,
article.maven-project_block .entry-title a:hover {
	color: #0099FF;
}

/* Team
------------------------------------------------------------ */

.page-template-pgtemp_team-php article .entry-title a:hover,
article.maven-team_block .entry-title a:hover {
	color: #0099FF;
}
.page-template-pgtemp_team-php .member-title,
article.maven-team_block .member-title {
	color: #333;
	font-weight: normal;
}
.page-template-pgtemp_team-php article .entry-title,
.page-template-pgtemp_team-php article .entry-title a,
article.maven-team_block .entry-title,
article.maven-team_block .entry-title a {
	color: #333;
}


/* Pagination
------------------------------------------------------------ */

ul.page-numbers li a:hover {
	color: #0099FF;
}
ul.page-numbers li span.current {
	color: #0099FF;
}

/* Page Navigation
------------------------------------------------------------ */

.nav-previous .icon-arrow-left,
.nav-previous .icon-arrow-left span,
.nav-next .icon-arrow-right,
.nav-next .icon-arrow-right span,
.nav-home .icon-arrow-up,
.nav-home .icon-arrow-up span {
	background-image: url(white/icons.png);
}

/* Social
------------------------------------------------------------ */

.social-link,
.social-link span,
.social-link-small,
.social-link-small span {
	background-image: url(white/icons-social.png);
}
#social-links-container .comments-link {
	color: #333;
	font-weight: normal;
}
#social-links-container .comments-link:hover {
	color: #0099FF;
}
p.social-share-title {
	color: #333;
	font-weight: normal;
}


/* Comments
------------------------------------------------------------ */

.comment-avatar img {
	border-color: #CCC;
}
.comment-arrow {
	background-image: url(white/comment-arrow.png);
}
.comment-container td.comment-data {
	background: #CCC;
}

/* Respond
------------------------------------------------------------ */

#reply-title {
	font-weight: normal;
}
#respond input[type="text"],
#respond textarea {
	background: none;
}

/* Secondary
------------------------------------------------------------ */

.widget_team_member_connect .team-member-post-preview-title,
.widget-sub-title {
	color: #333;
	font-weight: normal;
}
.widget_team_member_connect .team-member-post-preview-title:hover {
	color: #0099FF;
}
#secondary .widget_archive a,
#secondary .widget_categories a,
#secondary .widget_links a,
#secondary .widget_recent_entries a {
	color: #333;
}
.widget_archive a,
.widget_categories a,
.widget_links a,
.widget_recent_entries a {
	background-image: url(white/graphic-plus.png);
}
.widget_archive a:hover,
.widget_categories a:hover,
.widget_links a:hover,
.widget_recent_comments a:hover,
.widget_recent_entries a:hover {
	color: #0099FF !important;
}
.widget_rss .rsswidget:hover {
	color: #0099FF;
}
.widget_tag_cloud a {
	background: #CCC;
}
.widget_tag_cloud a:hover {
	background: #0099FF;
}
.digitec-contact-widget-title {
	color: #0099FF;
}
.digitec-contact-widget-email a:hover {
	color: #0099FF;
}
#secondary .digitec-twitter-widget-date {
	color: #999;
}
.digitec-twitter-widget-image {
	background: url(white/icon-twitter.png) no-repeat;
}
.widget_team_member_connect .team-member-post-preview-title, .widget-sub-title {
	font-weight: normal;
}

/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets h1, #footer-widgets h2, #footer-widgets h3, #footer-widgets h4, #footer-widgets h5, #footer-widgets h6,
#footer-widgets h1 a, #footer-widgets h2 a, #footer-widgets h3 a, #footer-widgets h4 a, #footer-widgets h5 a, #footer-widgets h6 a {
	color: #FFF;
}
#footer-widgets p, #footer-widgets li, #footer-widgets label, #footer-widgets span, #footer-widgets div {
	color: #999;
}
#footer-widgets a {
	color: #FFF;
}
#footer-widgets a:hover {
	color: #0099FF;
}
#footer-widgets {
	background: #333;
}
#footer-widgets .widget {
	background-image: url(white/bg-diagonal-medium.png);
}
#footer-widgets .widget-title {
	color: #FFF;
	background: #333;
}

/* Footer
------------------------------------------------------------ */

#siteFooter {
	background: #333 url(white/bg-diagonal-small.png) repeat-x left top;
}
#siteFooter h1, #siteFooter h2, #siteFooter h3, #siteFooter h4, #siteFooter h5, #siteFooter h6,
#siteFooter h1 a, #siteFooter h2 a, #siteFooter h3 a, #siteFooter h4 a, #siteFooter h5 a, #siteFooter h6 a {
	color: #FFF;
}
#siteFooter p, #siteFooter li, #siteFooter label, #siteFooter span, #siteFooter div {
	color: #999;
}
#siteFooter a {
	color: #0099FF;
}

/* Shortcodes
------------------------------------------------------------ */

.digi-block-title p,
.digi-block-title a,
.digi-block-title span,
td.digi-info-title p,
td.digi-info-title a,
td.digi-info-title span {
	font-weight: normal;
}
.digi-block-title span,
.digi-block-title a:hover,
td.digi-info-title a:hover,
td.digi-info-title span {
	color: #0099FF;
}

/* Sliders
------------------------------------------------------------ */

.featured-slider-controls a,
.featured-slider-controls a span,
.project-slider-controls a,
.project-slider-controls a span {
	background-image: url(white/icons.png);
}
.featured-slider-buttons p a {
	background: #B2B2B2;
}
.featured-image-content p,
.featured-image-content span {
	font-weight: normal;
}

/* Contact Form 7
------------------------------------------------------------ */

.wpcf7-response-output,
span.wpcf7-not-valid-tip {
	border: 1px solid #0099FF !important;
	font-weight: normal !important;
}
.wpcf7-mail-sent-ok {
	border: 1px solid #0099FF !important;
}
.wpcf7-validation-errors {
	border: 1px solid #0099FF !important;
}

/* MediaElement Player
------------------------------------------------------------ */

.mejs-overlay-button,
.mejs-container .mejs-controls div.mejs-button,
.mejs-controls .mejs-button button {
	background-image: url(white/controls.png);
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	background: #0099FF;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	background: #0099FF;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-image: url(white/mejs-time-rail-loading.png);
}
.mejs-controls .mejs-time-rail .mejs-time-current {
	background-image: url(white/mejs-time-rail-progress.png);
}












