/* Table of Contents

* Defaults
* Styles
* Header
* Main
* Search Form
* Article
* Posts
* Projects
* Team
* Pagination
* Page Navigation
* Social
* Comments
* Secondary
* Footer
* Shortcodes
* Sliders
* Contact Form 7
* MediaElement Player

*/




/* Defaults
------------------------------------------------------------ */

a:hover {
	color: #99FFFF;
}
input:focus,
input[type="text"]:focus,
textarea:focus {
	border-color: #99FFFF;
	border-color: rgba(153, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 255, 255, 0.4);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 255, 255, 0.4);
}
input[type="submit"] {
	background-image: url(red/bg-submit.png);
}
input[type="submit"]:hover {
	color: #99FFFF;
}
::selection,
::-moz-selection {
	background: #FF5566;
}

/* Styles
------------------------------------------------------------ */

a.digilink,
.digilink a,
a.digilink-alt,
.digilink-alt a {
	background-image: url(red/graphic-plus.png);
}
a.digilink:hover,
.digilink a:hover,
a.digilink-alt:hover,
.digilink-alt a:hover {
	color: #99FFFF;
}
a.digibutton-arrow,
.digibutton-arrow a {
	background-image: url(red/bg-submit.png); 
}
a.digibutton-flat-arrow,
.digibutton-flat-arrow a,
span.digibutton-flat-arrow {
	background-image: url(red/arrow.png);
}
a.digibutton:hover,
.digibutton a:hover,
a.digibutton-arrow:hover,
.digibutton-arrow a:hover,
a.digibutton-flat:hover,
.digibutton-flat a:hover,
a.digibutton-flat-arrow:hover,
.digibutton-flat-arrow a:hover {	
	color: #99FFFF;
}

/* Header
------------------------------------------------------------ */

.main-menu-container > ul > li > a:hover {
	color: #99FFFF;
}
.main-menu-container > ul > li.current-menu-item > a,
.main-menu-container > ul > li.current_page_item > a {
	color: #99FFFF;
}
.main-menu-container li li > a:hover {
	background: #99FFFF;
}
.main-menu-container li li.current-menu-item > a,
.main-menu-container li li.current_page_item > a {
	background: #99FFFF;
}

/* Main
------------------------------------------------------------ */

#main > .wrapper {
	background-image: url(red/bg-main-bottom.png);
}

/* Search Form
------------------------------------------------------------ */

.search-form .submit {
	background-image: url(red/btn-search-hover.png);
}


/* Article
------------------------------------------------------------ */

.entry-title {
	color: #99FFFF;
}
article.post .entry-title a:hover,
article.team .entry-title a:hover {
	color: #99FFFF;
}
.entry-utility-prep {
	color: #99FFFF;
}
.entry-utility a:hover,
.entry-utility a:hover .entry-utility-prep {
	color: #99FFFF;
}

/* Posts
------------------------------------------------------------ */

article.maven-post_block .entry-date {
	color: #99FFFF;
}

/* Projects
------------------------------------------------------------ */

.page-template-pgtemp_portfolio-php article .entry-title,
article.maven-project_block .entry-title {
	background-image: url(red/graphic-plus-large.png);
}
.page-template-pgtemp_portfolio-php article .entry-title a:hover,
article.maven-project_block .entry-title a:hover {
	color: #99FFFF;
}

/* Team
------------------------------------------------------------ */

.page-template-pgtemp_team-php article .entry-title a:hover,
article.maven-team_block .entry-title a:hover {
	color: #99FFFF;
}

/* Pagination
------------------------------------------------------------ */

ul.page-numbers li a:hover {
	color: #99FFFF;
}

/* Page Navigation
------------------------------------------------------------ */

.nav-previous .icon-arrow-left,
.nav-previous .icon-arrow-left span,
.nav-next .icon-arrow-right,
.nav-next .icon-arrow-right span,
.nav-home .icon-arrow-up,
.nav-home .icon-arrow-up span {
	background-image: url(red/icons.png);
}

/* Social
------------------------------------------------------------ */

.social-link,
.social-link span,
.social-link-small,
.social-link-small span {
	background-image: url(red/icons-social.png);
}
#social-links-container .comments-link:hover {
	color: #99FFFF;
}

/* Comments
------------------------------------------------------------ */

.comment-arrow {
	background-image: url(red/comment-arrow.png);
}

/* Secondary
------------------------------------------------------------ */

.widget_team_member_connect .team-member-post-preview-title:hover {
	color: #99FFFF;
}
.widget_archive a,
.widget_categories a,
.widget_links a,
.widget_recent_entries a {
	background-image: url(red/graphic-plus.png);
}
.widget_archive a:hover,
.widget_categories a:hover,
.widget_links a:hover,
.widget_recent_comments a:hover,
.widget_recent_entries a:hover {
	color: #99FFFF;
}
.widget_rss .rsswidget:hover {
	color: #99FFFF;
}
.widget_tag_cloud a:hover {
	background: #99FFFF;
}
.digitec-contact-widget-title {
	color: #99FFFF;
}
.digitec-contact-widget-email a:hover {
	color: #99FFFF;
}

/* Footer
------------------------------------------------------------ */

#siteFooter a {
	color: #99FFFF;
}

/* Shortcodes
------------------------------------------------------------ */

.digi-block-title span {
	color: #99FFFF;
}
.digi-block-title a:hover {
	color: #99FFFF;
}
td.digi-info-title a:hover {
	color: #99FFFF;
}
td.digi-info-title span {
	color: #99FFFF;
}

/* Sliders
------------------------------------------------------------ */

.featured-slider-controls a,
.featured-slider-controls a span,
.project-slider-controls a,
.project-slider-controls a span {
	background-image: url(red/icons.png);
}

/* Contact Form 7
------------------------------------------------------------ */

.wpcf7-response-output,
span.wpcf7-not-valid-tip {
	border: 1px solid #99FFFF !important;
}
.wpcf7-mail-sent-ok {
	border: 1px solid #99FFFF !important;
}
.wpcf7-validation-errors {
	border: 1px solid #99FFFF !important;
}

/* MediaElement Player
------------------------------------------------------------ */

.mejs-overlay-button,
.mejs-container .mejs-controls div.mejs-button,
.mejs-controls .mejs-button button {
	background-image: url(red/controls.png);
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	background: #99FFFF;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	background: #99FFFF;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
	background-image: url(red/mejs-time-rail-progress.png);
}












