/* Table of Contents

* Defaults
* Styles

*/

/* Defaults
------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #CCCCCC;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #CCCCCC;
}
h1, h1 a {
	font-size: 26px;
	line-height: 36px;
}
h2, h2 a {
	font-size: 22px;
	line-height: 36px;
}
h3, h3 a {
	font-size: 18px;
}
h4, h4 a {
	font-size: 14px;
	line-height: 22px;
}
h5, h5 a {
	font-size: 12px;
	line-height: 22px;
}
p, li, a, label, span, div {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 100;
	line-height: 18px;
	color: #666666;
}
p {
	margin-bottom: 20px;
}
a {
	color: #000;
	-webkit-transition: color .3s linear;  
	-moz-transition: color .3s linear;   
	-o-transition: color .3s linear; 
	transition: color .3s linear; 
	text-decoration: none;
}
a:hover {
	color: #00FFFF;
	text-decoration: none;
}
hr {
	clear: both;
	border: none;
	height: 1px;
	background: url(images/bg-divider.png) repeat-x left bottom;
	margin: 30px 0 35px 0;
}

/* Styles
------------------------------------------------------------ */

.alignleft {
	margin: 0 20px 5px 0;
}
.alignright {
	margin: 0 0 5px 20px;
}
.sub-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 100;
	color: #000;
	margin-bottom: 25px;
}
.inline-heading {
	display: inline-block;
	color: #CCC;
	width: 35px;
}
.link-underline {
	text-decoration: underline;
}
.link-underline:hover {
	text-decoration: underline;
}
img.image-border,
.image-border img {
	border: 10px solid #2D2D2D;
}
p.digilink {
	margin-top: -4px;
}
a.digilink,
.digilink a,
a.digilink-alt,
.digilink-alt a {
	font-size: 12px;
	line-height: 12px;
	color: #CCC;
	background: url(images/graphic-plus.png) no-repeat left 2px;
	padding-left: 11px;
	margin-top: -4px;
	margin-bottom: 34px;
}
p.digilink-alt,
a.digilink-alt,
.digilink-alt a {
	line-height: 22px;
	color: #000;
}
a.digilink:hover,
.digilink a:hover,
a.digilink-alt:hover,
.digilink-alt a:hover {
	color: #00FFFF;
	text-decoration: none;
}
a.digibutton,
.digibutton a,
span.digibutton,
a.digibutton-arrow,
.digibutton-arrow a,
a.digibutton-flat,
.digibutton-flat a,
span.digibutton-flat,
a.digibutton-flat-arrow,
.digibutton-flat-arrow a,
span.digibutton-flat-arrow  {
	display: inline-block;
	height: 30px;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 31px;
	text-transform: uppercase;
	color: #FFF;
}
a.digibutton,
.digibutton a,
span.digibutton,
a.digibutton-arrow,
.digibutton-arrow a  {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #333333;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0);
}
a.digibutton,
.digibutton a,
span.digibutton {
	padding: 0 12px 0 12px;	
	background: #232323;
	background-image: url(images/bg-button.png) repeat-x left; /* fallback */
	background-image: url(images/bg-button.png), -webkit-gradient(linear, left top, left bottom, from(#3D3D3D), color-stop(0.49, #363636), color-stop(0.50, #252525), to(#232323)); /* Saf4+, Chrome */
	background-image: url(images/bg-button.png), -webkit-linear-gradient(top, #3D3D3D 0%, #363636 49%, #252525 50%, #232323); /* Chrome 10+, Saf5.1+ */
	background-image: url(images/bg-button.png),    -moz-linear-gradient(top, #3D3D3D 0%, #363636 49%, #252525 50%, #232323); /* FF3.6+ */
	background-image: url(images/bg-button.png),     -ms-linear-gradient(top, #3D3D3D 0%, #363636 49%, #252525 50%, #232323); /* IE10 */
	background-image: url(images/bg-button.png),      -o-linear-gradient(top, #3D3D3D 0%, #363636 49%, #252525 50%, #232323); /* Opera 11.10+ */
	background-image: url(images/bg-button.png),         linear-gradient(top, #3D3D3D 0%, #363636 49%, #252525 50%, #232323); /* W3C */
}
a.digibutton-arrow,
.digibutton-arrow a {
	padding: 0 16px 0 22px;
	background: #232323 url(images/bg-submit.png); 
}
a.digibutton-flat,
.digibutton-flat a,
span.digibutton-flat,
a.digibutton-flat-arrow,
.digibutton-flat-arrow a,
span.digibutton-flat-arrow {	
	padding: 0 12px 0 12px;
	background: rgba(0,0,0,.1);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a.digibutton-flat-arrow,
.digibutton-flat-arrow a,
span.digibutton-flat-arrow {
	padding: 0 16px 0 22px;
	background: rgba(0,0,0,.1) url(images/arrow.png) no-repeat 10px center;
}
a.digibutton:hover,
.digibutton a:hover,
a.digibutton-arrow:hover,
.digibutton-arrow a:hover,
a.digibutton-flat:hover,
.digibutton-flat a:hover,
a.digibutton-flat-arrow:hover,
.digibutton-flat-arrow a:hover {	
	color: #00FFFF;
}
a.digibutton.disabled:hover,
.digibutton.disabled a:hover {
	color: #000;
}
a.digibutton.disabled,
.digibutton.disabled a,
span.digibutton {
	opacity: .3;
	cursor: default;
}
